
<footer class="footer">
	<div class="d-sm-flex justify-content-center justify-content-sm-between">
		<span class="d-block text-center text-sm-left d-sm-inline-block text-primary">EduSports @@2024 | Home of educational sports</span>
		<span class=" text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Built by<span class=" fw-bold" style="font-family:cambria"> Netcode-Hub </span> Software Solutions </span>
	</div>
</footer>