 @inherits LayoutComponentBase
<TabbarComponent />
<div class="container-fluid">
    <div class="row">
        @Body
    </div>
</div>
<div class="col-12 mt-5 sticky-bottom">
    <div class="card">
        <div class="card-header">
            <FooterComponent />
        </div>
    </div>
</div>


