@page "/admin"
@layout AdminLayout
<div class="card mb-5 mt-3">
    <div class="card-header">Video Component</div>
    <div class="card-body">
        <UploadVideo />
    </div>
</div>

<div class="card">
    <div class="card-header">PDF Component</div>
    <div class="card-body">
        <UploadPDF />
    </div>
</div>